<main class="main">
  <div class="main__password">
    <label>Password:</label>
    <div class="password__field">
      <input
        [type]="isShow ? 'text' : 'password'"
        class="field__input"
        [(ngModel)]="password"
        (input)="checkPasswordStrength()"
      />
      <img
        [src]="isShow ? 'assets/eye.svg' : 'assets/eye-slash.svg'"
        class="field__icon"
        (click)="toggleVisibility()"
      />
    </div>
    <div class="password__strength-indicator">
      <div
        class="strength-indicator__box {{
          passwordStrength === 'short'
            ? 'easy'
            : passwordStrength === 'easy'
            ? 'easy'
            : passwordStrength === 'medium'
            ? 'medium'
            : passwordStrength === 'strong'
            ? 'strong'
            : 'empty'
        }}"
      ></div>
      <div
        class="strength-indicator__box {{
          passwordStrength === 'short'
            ? 'easy'
            : passwordStrength === 'medium'
            ? 'medium'
            : passwordStrength === 'strong'
            ? 'strong'
            : 'empty'
        }}"
      ></div>
      <div
        class="strength-indicator__box {{
          passwordStrength === 'short'
            ? 'easy'
            : passwordStrength === 'strong'
            ? 'strong'
            : 'empty'
        }}"
      ></div>
    </div>
  </div>
</main>
