<div class="password">
  <label>Password:</label>
  <div class="password__field">
    <input
      [type]="isShow ? 'text' : 'password'"
      class="field__input"
      [(ngModel)]="password"
      (input)="checkPasswordStrength()"
    />
    <mat-icon class="field__icon" (click)="toggleVisibility()">{{
      isShow ? "visibility" : "visibility_off"
    }}</mat-icon>
  </div>
  <div class="password__strength-indicator">
    <div
      class="strength-indicator__box {{ getPasswordStrengthNameclass(0) }}"
    ></div>
    <div
      class="strength-indicator__box {{ getPasswordStrengthNameclass(1) }}"
    ></div>
    <div
      class="strength-indicator__box {{ getPasswordStrengthNameclass(2) }}"
    ></div>
  </div>
</div>
